*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  width: 90%;
}

nav h2{
  color: white;
  background-color: #00709d;
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
  width: 920px;
  box-shadow:  10px 10px 14px 4px rgba(199,197,199,1);
  font-size: 26px;
}

main{
  margin: 20px;
}

main h5{
  margin: 35px;
  font-size: 14px;
  font-weight: bold;
}

main ul{
  list-style: none;
  margin-top: 40px;
}

.list-menu{
  display: block;
  background-color: #00709d;
  width: 340px;
  margin: 10px;
  font-size: 14px;
  border-radius: 20px;
  color: white;
  text-align: center;
  box-shadow:  10px 10px 14px 4px rgba(199,197,199,1); 
  text-decoration: none; 
  padding: 20px;
}

.list-menu-F{
  display: block;
  background-color: #00709d;
  width: 340px;
  margin: 10px 20px 0px 10px;
  border-radius: 20px;
  color: white;
  text-align: center;
  box-shadow:  10px 10px 14px 4px rgba(199,197,199,1); 
  text-decoration: none; 
  padding: 20px;
  margin-bottom: 0px;
}

.list-menu:hover{
  background-color: rgb(65, 65, 65);
}

footer{
  padding-top: 30px;
  margin: 30px;
}

footer{
  margin-top: 0px;
  padding-top: 0px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p{
  margin-top: 90px;
}

img{
  position: absolute;
  top: 200px;
  left: 500px;
  width: 520px;
  height: 360px;
}